@lxpanel --profile LXDE-pi
@pcmanfm --desktop --profile LXDE-pi
@unclutter
@chromium-browser --incognito --kiosk --enable-experimental-web-platform-features {{ homesense_url }}
#@xset s off
#@xset s noblank
#@xset -dpms
